<!DOCTYPE html>
<html>
<head>
 <title>XL-Solution</title>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Inventory Items</h1>
    <hr>
    <table id="example" class="display">
      <thead>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Color</th>
        <th>Carrier Plan Type</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
          {% for row in data %}
          <tr>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td>{{row[6]}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script>
  $(function(){
    $("#example").dataTable();
  })
  </script>
<script type="text/javascript">
	alert("A carga funcionou!");
	window.location="#";
</script>

</body>
</html>